<%=link_to line_path(line) do %>
	<div class="line-partial">
		<div class="issue-card">
			<span>
        <%= image_tag((line.bus? ?  "bus.svg" : "train.svg"), alt: '', class: "small") %>
				<span><%= line.name %></span>
        <% if line.has_color? && line.train? %>
						<span class="color-stripe" style="background-color: <%= "##{line.color}" %>">&nbsp;</span>
        <% end %>
        <% if user_signed_in? %>
					<% if current_user.favorites.include?(line) %>
						<%= render "favorites/favorite", line: line %>
					<% else %>
						<%= render "favorites/unfavorite", line: line %>
					<% end %>
					<%= new_issue_button(line: line) %>
				<% end %>
			</span>
			<span>
				<%= line.issues.length %>
			</span>
		</div>
	</div>
<% end %>