<%=link_to line_path(line) do %>
	<div class="line-partial">
		<div class="issue-card">
			<span>
				<% if line.bus? %>
					<%= image_tag "bus.svg", alt: '' %>
				<% else %>
					<% if line.has_color? %>
						<span class="color-stripe" style="background-color: #<%= line.color %>">&nbsp;</span>
					<% end %>
					<%= image_tag "train.svg",alt: '' %>
				<% end %>
				<span><%= line.name %></span>
				<% if user_signed_in? %>
					<% if current_user.favorites.include?(line) %>
						<%= render "favorites/favorite", line: line %>
					<% else %>
						<%= render "favorites/unfavorite", line: line %>
					<% end %>
					<%= new_issue_button(line: line) %>
				<% end %>
			</span>
			<span>
				<%= line.issues.length %>
			</span>
		</div>
	</div>
<% end %>