<%= link_to line_path(line) do %>
  <div class="row-container">
			<span class="centered row spaced-items">
        <%= image_tag((line.bus? ? "bus.svg" : "train.svg"), alt: '', class: "small") %>
        <span>
        <% if line.has_color? && line.train? %>
            <div class="line-tile line-swatch" style="background: <%= "##{line.color}" %>"></div>
        <% else %>
            <div class="line-tile api-id"><%= line.name %></div>
        <% end %>
        </span>
        <span><%= line.route_long_name %></span>
			</span>
    <span class="centered row spaced-items">
      <span><%= line.issues.length %></span>
      <span><%= image_tag "arrow.svg"  %></span>
    </span>
  </div>
<% end %>