<%= form_for(issue) do |f| %>
  <% if issue.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(issue.errors.count, "error") %> prohibited this issue from being saved:</h2>

      <ul>
      <% issue.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="field-issue">
    <%= f.label :line %><br>
    <%= f.collection_select :line_id, Line.all.order(:system_type, :name), :id, :name %>
  </div>

  <div class="field-issue">
    <%= f.label :stop_id %><br>
    <%= f.number_field :stop_id %>
  </div>

  <div class="field-issue">
    <%= f.label :types %><br>
    <%= f.text_field :types %>
  </div>

  <div class="field-issue">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
