<%= form_for(issue) do |f| %>
  <% if issue.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(issue.errors.count, "error") %> prohibited this issue from being saved:</h2>

      <ul>
      <% issue.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="field">
    <%= f.label :line %>
    <%= f.collection_select :line_id, Line.order(:system_type, :name), :id, :name %>
  </div>

  <div class="field">
    <%= f.label :stop_id %>
    <%= f.number_field :stop_id %>
  </div>

  <div class="field">
    <%= f.label :type %>
    <%= f.collection_select :type, [1,2,3,4,5], :id , :type %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
