<% line_type = nil if local_assigns[:line_type].nil? %>
<%= form_for(issue) do |f| %>
  <div class="field-issue centered row">
    <%= f.label 'Line' %><br>
    <%= f.collection_select(:line_onestop_id, Line.of_line_type(line_type), :id, :route_long_name,
                            { prompt: 'Select Line' },
                            { :class => "new-issue-line" }
        ) %>
  </div>

  <div class="field-issue centered row">
    <%= f.label 'Stop' %><br>
    <%= f.collection_select(:stop_onestop_id, issue.line&.stops || [], :id, :name,
                            { prompt: issue.line ? nil : "Select a line first" },
                            { :class => "new-issue-stops" }
        ) %>
  </div>

  <div class="field-issue">
    <%= f.label :types, "Issue Types" %><em>Check all that apply</em>
    <% %w(Delays Cleanliness Crowding Safety Accessibility Staff).each do |issue_type| %>
      <label class="checkbox-container">
        <%= f.check_box(:types, { multiple: true }, issue_type, nil) %>
        <span class="checkbox-tile column centered">
              <%= image_tag "issue_types/#{issue_type}.svg", alt: issue_type %>
              <span class="checkbox-text"><%= issue_type %></span>
        </span>
      </label>
    <% end %>
    <label class="checkbox-container">
      <%= f.check_box(:types, { multiple: true }, "Other", nil) %>
      <span class="checkbox-tile wide" style="padding-top: 12px; font-size: 1.25rem">Other</span>
    </label>
  </div>

  <div class="field-issue">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
