<%= form_for(issue) do |f| %>
  <% if issue.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(issue.errors.count, "error") %> prohibited this issue from being saved:</h2>

      <ul>
      <% issue.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field-issue">
    <%= f.label 'Line' %><br>
    <%= f.collection_select(:line_onestop_id, Line.order('vehicle_type DESC, name'), :id, :route_long_name,
      {prompt: 'Select Line'},
      {:class => "new-issue-line"}
    ) %>
  </div>

  <div class="field-issue">
    <%= f.label 'Stop' %><br>
    <%= f.collection_select(:stop_onestop_id, issue.line&.stops || [], :id, :name,
      {prompt: issue.line ? nil : "Select a line first"},
      {:class => "new-issue-stops"}
    ) %>
  </div>

  <div class="field-issue">
    <%= f.label :location_type %><br>
    <%= f.text_field :location_type %>
  </div>

  <div class="field-issue">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
