<%= form_for(issue) do |f| %>
  <% if issue.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(issue.errors.count, "error") %> prohibited this issue from being saved:</h2>

      <ul>
      <% issue.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field-issue">
    <%= f.label :line %><br>
    <% line_blank = OpenStruct.new %>
    <% line_blank.name = "Select Line"; line_blank.id = -1 %>
    <%= f.collection_select(:line_id, [line_blank] + Line.all.order(:system_type, :name).to_a, :id, :name, {}, {:class => "new-issue-line"}) %>
  </div>

  <div class="field-issue">
    <%= f.label :stop_id %><br>
    <%= f.collection_select(:stop_id, [[-1, "Select A Line First"]], :first, :last, {}, {:class => "new-issue-stops"}) %>
  </div>

  <div class="field-issue">
    <%= f.label :types %><br>
    <%= f.text_field :types %>
  </div>

  <div class="field-issue">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
