<% if @issue.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@issue.errors.count, "error") %> prohibited this issue from being saved:</h2>

    <ul>
      <% @issue.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="new-issue-container">
<% if @line_type %>
	<h1>Report <%= @line_type.capitalize %> Issue</h1>
<% elsif @line %>
	<h1>Report <%= @line.bus? ? "Bus" : "Train" %> Issue</h1>
<% else %>
	<h1>Report an Issue</h1>
<% end %>
	<%= render 'form', issue: @issue, line_type: @line_type %>
</div>
