<div class="page-container">
	<h1>New Issue: B</h1>
	<h2>Two Page Form: Page 2</h2>

	NOTE: not currently active

	<div class="form_container">
		<%= form_for @issue, url: { action: 'create_b'} do |f| %>

			Please describe:<br>
			<%= f.text_area(:description, rows: 8, placeholder: "What happened?") %>
			<br>

			Were you previously notified of this issue?<br>
			<% ["yes", "no"].each do |a| %>
				<%= f.radio_button(:notified, (a == "yes" ? true : false), checked: (@a == a)) %>
				<%= f.label(:notified, a) %>
			<% end %>
			<br>
			How?
			input
			<br>

			Did you take an alternative mode of transportation?<br>
			<% ["yes", "no"].each do |a| %>
				<%= f.radio_button(:alt_transport, (a == "yes" ? true : false), checked: (@a == a)) %>
				<%= f.label(:alt_transport, a) %>
			<% end %>
			<br>
			What?
			input
			<br>

			Do you want to forward your contact information to CTA?<br>
			<% ["yes", "no"].each do |a| %>
				<%= f.radio_button(:cta_contact, (a == "yes" ? true : false), checked: (@a == a)) %>
				<%= f.label(:cta_contact, a) %>
			<% end %>
			<br>
			How?
			input
			<br>

			<%#= f.submit "Submit!" %>

		<% end %>
	</div>
	<br>

	<%= link_to 'Back', issues_path %>
</div>
