<div class="page-container">
  <h1>Issue Details</h1>

  <% if @issue.line %>
    <p>
      <strong>Line:</strong>
      <%= render "lines/show", line: @issue.line %>
    </p>
  <% end %>

  <% if @issue.stop %>
    <p>
      <strong>Stop:</strong>
      <%= render "stops/show", stop: @issue.stop %>
    </p>
  <% end %>

  <p>
    <strong>Type:</strong>
    <%= @issue.types %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= @issue.description %>
  </p>

  <p>
    <strong>Created:</strong>
    <% if @issue.created_at == @issue.updated_at %>
      <%= @issue.created_at.strftime("%m/%d/%Y - %I:%M%p") %>
    <% else %>
      <%= @issue.created_at.strftime("%m/%d/%Y - %I:%M%p") %> (Updated <%= @issue.updated_at.strftime("%m/%d/%Y - %I:%M%p") %>)
    <% end %>
  </p>
</div>