<p id="notice"><%= notice %></p>

<p>
  <strong>Type:</strong>
  <%= @issue.types %>
</p>

<p>
  <strong>Stop:</strong>
  <%= @issue.stop_onestop_id %>
</p>

<p>
  <strong>Description:</strong>
  <%= @issue.description %>
</p>

<p>
  <strong>Line:</strong>
  <%= @issue.line_onestop_id %>
</p>

<%= link_to 'Edit', edit_issue_path(@issue) %> |
<%= link_to 'Back', issues_path %>

<%= new_issue_button %>
