<% current_line ||= nil %>
<div class="stop-partial">
  <div class="stop-label">
    <%= image_tag((stop.bus? ?  "bus.svg" : "train.svg"), alt: '', class: "small") %>
    <span class="stop-descriptor">
    <span class="stop-name"><%= link_to stop.name, stop %></span>
      <%if stop.train? %>
        <% stop.lines.each do |line| %>
          <span class="color-stripe" style="background-color: <%= "##{line.color}" %>"></span>
        <% end %>
      <% end %>
      
    </span>
  </div>
  <div>
    <%= stop.issues.length %>
    <% if user_signed_in? %>
        <% if current_user.favorites.include?(stop) %>
          <%= render "favorites/favorite", stop: stop %>
        <% else %>
          <%= render "favorites/unfavorite", stop: stop %>
        <% end %>
      <% end %>
    <%= new_issue_button(stop: stop, line: current_line) %>
  </div>
</div>