<div class="stop-partial">
  <span>
		<%= link_to stop.name, stop %>
    <% if user_signed_in? %>
			<% if current_user.favorites.include?(stop) %>
				<%= render "favorites/favorite", stop: stop %>
			<% else %>
				<span style="width: 5px; background: #<%= stop.lines.first.color %>"></span>
				<%= image_tag "train.svg",alt: '' %>
			<% end %>
    <% end %>
    <%= new_issue_button(stop: stop) %>
  </span>
  <span>
      <% if stop.respond_to?(:num_issues) %>
			  <%= stop.num_issues %>
      <% else %>
        <%= stop.issues.count %>
      <% end %>
  </span>
</div>