<div class="stop-partial">
	<div class="issue-card">
		<span>
			<% if stop.lines.first.bus? %>
				<%= image_tag "bus.svg", alt: '' %>
			<% else %>
				<span style="width: 5px; background: #<%= stop.lines.first.color %>"></span>
				<%= image_tag "train.svg",alt: '' %>
			<% end %>
			<%= link_to stop.name, stop %>
			<% if user_signed_in? %>
				<% if current_user.favorites.include?(stop) %>
					<%= render "favorites/favorite", stop: stop %>
				<% else %>
					<%= render "favorites/unfavorite", stop: stop %>
				<% end %>
				<%= new_issue_button(stop: stop) %>
			<% end %>
		</span>
		<span>
			<%= stop.issues.length %>
		</span>
	</div>
</div>

<style>
	.issue-card {
		display: flex;
		justify-content: space-between;
	}

	.issue-card span {
		margin-right: 5px;
	}

	img {
		color: black;
		height: 4vh;
		width: 4vh;
	}

</style>