<div class="stop-partial">
	<% if defined? current_line %>
		<%= render "lines/tiles", lines: stop.lines, current_line: current_line %>
	<% else %>
		<%= render "lines/tiles", lines: stop.lines %>
	<% end %>
	<span>
		<%= stop.name %>
		<% if current_user.favorites.include?(stop) %>
			<%= link_to unfavorite_path(stop) do %>
				<div class="fav-star unfavorite"></div>
			<% end %>
		<% else %>
			<%= link_to favorite_path(stop) do %>
				<div class="fav-star favorite"></div>
			<% end %>
		<% end %>
	</span>
</div>