<% main_line ||= @line %>
<% transfers = stop.lines.where.not(:onestop_id => main_line&.onestop_id) %>
<% options ||= {} %>

<div class="stop">
  <div class="left-controls">
    <div class="favorites">
      <% if user_signed_in? %>
        <% if current_user.favorites.include?(stop) %>
          <%= render "favorites/favorite", stop: stop %>
        <% else %>
          <%= render "favorites/unfavorite", stop: stop %>
        <% end %>
      <% end %>
    </div>
    <% if main_line.present? %>
      <div class="line-mark">
        <div class="mark-box" style="background: <%= "##{main_line.color || "535353"}" %>"></div>
        <div class="mark-circle" style="border-color: <%= "##{main_line.color || "535353"}" %>"></div>
      </div>
    <% end %>
  </div>
  <%= link_to stop, class: 'center-controls' do %>
    <% if options.fetch(:show_icon, false) %>
      <%= image_tag((stop.bus? ? "bus.svg" : "train.svg"), alt: '', class: "small") %>
    <% end %>
    <div class="name-and-transfer">
      <div class="stop-name-container">
        <%= stop.name %>
      </div>
      <% if options.fetch(:show_line_colors, true) && transfers.any? %>
        <div class="transfers row">
          <% if main_line.nil? %>
            <div style="text-align:left">Serviced by:</div>
          <% else %>
            <div>Transfers:</div>
          <% end %>
          <div class="stop-identifiers row">
            <% transfers.each do |line| %>
              <% if line.train? %>
                <div class="line-swatch" style="background-color: <%= "##{line.color}" %>"></div>
              <% else %>
                <div class="line-tile api-id"><%= line.name %></div>
              <% end %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
  <div class="issue-readout">
    <div class="issue-count"><%= stop.issues.length %></div>
      <div class="issue-button">
          <%= new_issue_button(stop: stop, line: main_line) %>
      </div>
  </div>
</div>