<% current_line ||= nil %>
<div class="stop-partial">
  <span>
		<%= link_to stop.name, stop %>
    <% if user_signed_in? %>
			<% if current_user.favorites.include?(stop) %>
				<%= render "favorites/favorite", stop: stop %>
			<% else %>
				<span style="width: 5px; background: #<%= stop.lines.first.color %>"></span>
				<%= image_tag "train.svg",alt: '' %>
			<% end %>
    <% end %>
    <%= new_issue_button(stop: stop, line: current_line) %>
  </span>
  <span>
    <%= stop.issues.length %>
  </span>
</div>