<% current_line ||= nil %>
<% options ||= {} %>


<%= link_to stop do %>
  <div class="stops-container">
    <div class="centered row">
      <% if options.fetch(:show_icon, false) %>
        <%= image_tag((stop.bus? ? "bus.svg" : "train.svg"), alt: '', class: "small") %>
      <% end %>
      <span class="stop-name"><%= stop.name %></span>
      <% if stop.train? %>
        <% if options.fetch(:show_line_colors, false) %>
          <div class="stop-colors">
            <% stop.lines.each do |line| %>
              <div class="color-stripe" style="background-color: <%= "##{line.color}" %>"></div>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
    
    <div class="centered row">
      <span><%= stop.issues.length %></span>
      <% if options.fetch(:show_add_issue_button, true) %>
        <%= new_issue_button(stop: stop, line: current_line) %>
      <% end %>
      <% if options.fetch(:show_favorite, user_signed_in?) %>
        <% if current_user.favorites.include?(stop) %>
          <%= render "favorites/favorite", stop: stop %>
        <% else %>
          <%= render "favorites/unfavorite", stop: stop %>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>
