<div class="page-container">
  <div class="row centered" style="justify-content: space-between">
    <h2>Issues</h2>
    <%= new_issue_button(stop: @stop) %>
  </div>

	<h3 class="stop-title">
		<%= @stop.name %>
		<%= render "lines/tiles", lines: @stop.lines %>
	</h3>
	<% if @stop.issues.any? # only show issue container if there are issues to show %>
    <%= render "shared/striped_table", table_collection: @stop.issues, row_partial: "issues/row" %>
	<% else %>
		There are no issues!
	<% end %>
	<%= render "shared/map", line: @stop.lines.first, stop: @stop %>
</div>
