<header class="headbar">
	<div class="hamburger"></div>
	<a href="/">
		<div class="title"><%= Setting.site_name %></div>
	</a>
	<div class= "search"></div>
</header>

<div class="overlay-search">
	<%= form_tag(search_path, :method => "get", id: "search-form") do %>
		<%= text_field_tag :q, params[:q], placeholder: "Search Stops or Lines" %>
		<%= submit_tag "", :name => nil %>
	<% end %>
</div>

<div class="side-menu-overlay"></div>
<div class="side-menu">
	<div class="title"><%= Setting.site_name %> Menu</div>
	<ul>
		<li><%= link_to('Home', "/") %> </li>
		<li><%= link_to('All Lines', lines_path) %> </li>
		<li><%= link_to('About', page_path(:page_name => 'about')) %></li>
		<% if current_user %>
			<% if current_user.admin %>
				<li><%= link_to('Site Settings', '/settings') %></li>
			<% end %>
			<li><%= link_to('Favorite Stops', favorites_path) %></li>
			<li><%= link_to('History', page_path(:page_name => 'history')) %></li>
			<li><%= link_to('Log Out', destroy_user_session_path, :method => :delete) %></li>
		<% else %>
			<li><%= link_to('Sign In', new_user_session_path) %></li>
			<li><%= link_to('Sign Up', new_user_registration_path) %></li>
		<% end %>
	</ul>
</div>