<nav class="nav"><span id="title" class="transit"><p>Transit Network</p></span>

	<div class= "search"></div>
	<main id="wrapper">

		<!-- MOBILE MENU -->
		<input type="checkbox" id="menu-toggle">
		<label for="menu-toggle" class="label-toggle"></label>

		<ul class="menu" role="navigation">
			<% if current_user %>
				<li id="a" class="nav-item"><i class="fa fa-home"></i><%= link_to('Home', lines_path) %></li>
				<li id="b" class="nav-item"><i class="fa fa-train"></i><%= link_to('All Lines', lines_path) %></li>
				<li id="c" class="nav-item"><i class="fa fa-user-circle-o"></i><%= link_to('About', page_path(:page_name => 'about')) %></li>
				<li id="d" class="nav-item"><i class="fa fa-heart"></i><%= link_to('Favorites', favorites_path) %></li>
				<li id="e" class="nav-item"><i class="fa fa-sign-out"></i><%= link_to('Log Out', destroy_user_session_path, :method => :delete) %></li>
			<% else %>
				<li class="nav-item"><i class="fa fa-train"></i><%= link_to('All Lines', lines_path) %></li>
				<li class="nav-item"><i class="fa fa-sign-in"></i><%= link_to('Sign In', new_user_session_path) %></li>
				<li class="nav-item"><i class="fa fa-user-plus"></i><%= link_to('Sign Up', new_user_registration_path) %></li>
			<% end %>
		</ul>

	</main>
</nav>
