<header class="headbar">
	<div class="header-inner">
		<div class="hamburger"></div>
		<a href="/">
			<div class="title"><%= Setting.site_name %></div>
		</a>
		<div class= "search"></div>
		<div class="desktop-links">
			<%= render "shared/header-links" %>
		</div>
	</div>
</header>

<div class="overlay-search">
	<%= form_tag(search_path, :method => "get", id: "search-form") do %>
		<%= text_field_tag :q, params[:q], placeholder: "Search Stops or Lines" %>
		<%= submit_tag "", :name => nil %>
	<% end %>
</div>

<div class="side-menu-overlay"></div>
<div class="side-menu">
	<div class="title"><%= Setting.site_name %> Menu</div>
	<%= render "shared/header-links" %>
</div>
