<header class="headbar">
	<div class="header-inner row centered">
		<%= image_tag "logo.svg", class: 'logo', alt: 'Transit Talk Logo' %>
		<a href="/">
			<h1 class="title"><%= Setting.site_name %></h1>
		</a>
		<div class="row">
			<div class= "search"></div>
			<div class="hamburger"></div>
		</div>
	</div>
	<nav class="desktop-links">
		<%= render "shared/header-links" %>
	</nav>
	<div class="nav-bottom-border"></div>
</header>

<div class="overlay-search">
	<%= form_tag(search_path, :method => "get", id: "search-form") do %>
		<%= text_field_tag :q, params[:q], placeholder: "Search Stops or Lines" %>
		<%= submit_tag "", :name => nil %>
	<% end %>
</div>

<div class="side-menu-overlay"></div>
<div class="side-menu">
	<div class="title"><%= Setting.site_name %> Menu</div>
	<%= render "shared/header-links" %>
</div>
