<% content_for :title do %> - Dashboard<% end %>

<div class="page-container">
    <h2>
        Nearby Stops
    </h2>

    <div id="stops_near">
        <% if @nearby_stops %>
            <% unless @nearby_stops.empty? %>
                <% @nearby_stops.each do |stop| %>
                    <div class="stops-container">
                        <%= render "stops/show", stop: stop %>
                        <div class="issue-container">
                            <ul class="ul-dash">
                                <% stop.issues.each do |issue| %>
                                    <li class="li-dash">
                                        <span class="issue-title"><%= issue.name %></span>
                                    </li>
                                <% end %>

                            </ul>
                        </div>
                    </div>
                <% end %>
            <% else %>
                <h3>There seem to be no nearby stops!</h3>
            <% end %>
        <% end %>
    </div>

    <% if current_user %>

        <h2>
        	<%= image_tag "star.svg", width: "30px", class: "star" %>
        	Favorite Stops
        </h2>
        <div id="stops_fav">
            <% current_user.favorites.each do |stop| %>
                <div class="stops-container">
                    <%= render "stops/show", stop: stop %>
                    <div class="issue-container">
                        <ul class="ul-dash">
                            <% stop.issues.each do |issue| %>
                                <li class="li-dash">
                                    <span class="issue-title"><%= issue.name %></span>
                                </li>
                            <% end %>

                        </ul>
                    </div>
                </div>
            <% end %>
            <% unless current_user.favorites %>
                <h3>You have not selected any favorites yet!</h3>
            <% end %>
        </div>
    <% end %>
</div>

<%= new_issue_button %>
