<div class="homepage column centered">
  <h2 class="heading">
    Report and View Public Transit Issues in <%= Setting.city_name %>
  </h2>

  <%= link_to('View Issues', view_issues_path, :class => 'brown-btn') %>

  <!--     <%= link_to('Learn More', page_path(:page_name => 'about'), :class => 'simple-btn') %>
  <%= link_to('Sign In', new_user_session_path, :class => 'simple-btn') %> -->
  <div class="svg-container" style="border-top: 5px solid #0091ff; border-bottom: 5px solid #493390; margin: 3em 0;">
  
  </div>

  <div class="report-issues-cont">
    <h3 class="heading">Report an Issue</h3>

    <div class="transit-btn-cont">
      <%= link_to(new_issue_path(line_type: 'bus'), class: 'blue-btn transit') do %>
        <div style="color: white">Bus</div>
        <%= image_tag "bus_white.svg", alt: '' %>
      <% end %>

      <%= link_to(new_issue_path(line_type: 'train'), class: 'blue-btn transit') do %>
        <div>Train</div>
        <%= image_tag "train_white.svg", alt: '' %>
      <% end %>
    </div>
  </div>
<div class="svg-container" style="border-top: 5px solid #0091ff; border-bottom: 5px solid #493390; margin: 3em 0;">
</div>
  <%= link_to('Select Routes', view_issues_path, :class => 'brown-btn') %>
</div>
