<div class="homepage column">
  <h2 class="heading">
    Report and View Public Transit Issues in <%= Setting.city_name %>
  </h2>

  <div class="report-issues-cont">
    <h3 class="heading">Report an Issue</h3>

    <div class="transit-btn-cont">
      <%= link_to(new_issue_path(line_type: 'bus'), class: 'blue-btn transit') do %>
        <div style="color: white">Bus</div>
        <%= image_tag "bus_white.svg", alt: '' %>
      <% end %>

      <%= link_to(new_issue_path(line_type: 'train'), class: 'blue-btn transit') do %>
        <div>Train</div>
        <%= image_tag "train_white.svg", alt: '' %>
      <% end %>
    </div>
  </div>

  <div class="green-separator separator"></div>

  <% if @favorites.present? %>
    <h3 class="heading">Favorite Stops</h3>

    <div style="text-align: right;">
      <span># of issues</span>
    </div>

    <div id="favorites_table">
      <%= render "shared/striped_table", table_collection: @favorites, row_partial: "stops/show_with_issues" %>
    </div>

    <div class="green-separator separator"></div>
  <% end %>

  <div data-controller="nearby-stops">
    <h3 class="heading">Nearby Issues</h3>

    <div data-target="nearby-stops.content">Loading...</div>
  </div>

  <div class="red-separator separator"></div>

  <%= link_to('Select Routes', lines_path, :class => 'brown-btn') %>
</div>