<% content_for :title do %> - View Issues<% end %>

<div class="page-container">
    <h2>
        View Issues
    </h2>

	<div style="text-align: right;">
		<span># of issues</span>
	</div>

	<%= render "issues/split_button" %>

	<div id="lines_near" class="toggleable-list">
		<% if @nearby_lines %>
            <% unless @nearby_lines.empty? %>
                <% @nearby_lines.each do |line| %>
                    <%= render "lines/show_with_issues", line: line %>
                <% end %>
            <% else %>
                <em class="placeholder">There seem to be no nearby stops!</em>
            <% end %>
        <% else %>
            <em class="placeholder">We can't show you nearby stops without location services allowed!</em>
        <% end %>
	</div>

    <div id="stops_near" class="toggleable-list" style="display: none;">
        <% if @nearby_stops %>
            <% unless @nearby_stops.empty? %>
                <% @nearby_stops.each do |stop| %>
                    <%= render "stops/show_with_issues", stop: stop %>
                <% end %>
            <% else %>
                <em class="placeholder">There seem to be no nearby stops!</em>
            <% end %>
        <% else %>
            <em class="placeholder">We can't show you nearby stops without location services allowed!</em>
        <% end %>
    </div>

	<%= render "issues/back_button" %>
</div>

<%= new_issue_button %>