<%= javascript_include_tag "split-button" %>

<% content_for :title do %> - View Issues<% end %>
<div class="page-container">
    <h2>
        View Issues
    </h2>

	<div style="text-align: right;">
		<span># of issues</span>
	</div>

	<%= render "issues/split_button" %>


    <div id="trains_near" class="toggleable-list">
        <p>Trains</p>
        <% if @nearby_stops&.fetch("train") %>
            <%= render "shared/striped_table", table_collection: @nearby_stops.fetch("train"), row_partial:"stops/show_with_issues"%>
        <% else %>
            <em class="placeholder">We can't show you nearby stops without location services allowed!</em>
        <% end %>
    </div>

    <div id="busses_near" class="toggleable-list" style="display: none;">
        <p>Busses</p>
        <% if @nearby_stops&.fetch("bus") %>
            <%= render "shared/striped_table", table_collection: @nearby_stops.fetch("bus"), row_partial:"stops/show_with_issues"%>
        <% else %>
            <em class="placeholder">We can't show you nearby stops without location services allowed!</em>
        <% end %>
    </div>

    

	<%= render "issues/back_button" %>
</div>

<%= new_issue_button %>
