
<!-- <h2 id="devise-title">Sign In</h2> -->

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="desktop-center field-label">
    <h2 id="devise-title">Sign In</h2>
    <div class="space-40"></div>
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="desktop-center field-label">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

    <div class="desktop-center actions">
      <%= f.submit "Log in" %>
    </div>

    <div class="links">
      <%= render "devise/shared/links" %>
    </div>
  <% end %>

</div>
